@import "../App.scss";
.react-icons-login {
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: 700;
}

.loginText {
  color: var(--primaryColor);
  font-size: 14px !important;
  margin: 5px;
  font-weight: lighter;
}
