@import "../App.scss";
.react-icons-singUp {
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: 700;
}
.singUpText {
  color: var(--primaryColor);
  font-size: 14px;
  margin: 5px;
  font-weight: lighter;
}
